#llk_img2
{
  width: 220px;
  height: 50px;
  margin-top: 1%;
  margin-left: 1%;
}


#msgResult3
{
	 margin-top: 4%;
	 margin-left: 2%;
  	
}


#btnVoltar
{
	margin-top: -35px;
	margin-left: 80%;
}

#btnAnexar
{
	margin-top: -100px;
	margin-left: 70%;
}

#btnDownload
{
	margin-top: -60px;
	margin-left: 58%;
}

#list
{

	margin-top: 30px;
}




