<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/theme.css" type="text/css"> </head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-3 text-capitalize">Contratos Lanlink
            <br>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Procure o seu contrato no local abaixo
            <br>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <form action="http://10.85.50.152:3000/enviaPesquisa" method="GET">
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <input type="text" id="search" name="search" class="form-control form-control-lg" placeholder="Digite o nome do contrato">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" id="envio" class="btn btn-primary my-2">Submit button</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="front.js"></script>
</body>

</html>